- content_for(:content) do
  .pair-clock 12:34:56
  .photos
    %figure{class: "photo"}
      %img
      %figcaption
    %figure{class: "photo"}
      %img
      %figcaption

- content_for(:javascript) do
  = javascript_include_tag 'latest_sessions'
